span {
  margin-top: 20rem;
  background-image: url(/public/images/Heart.png);
  background-repeat:  no-repeat;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  width: 24px;
  height: 20px;
  cursor: pointer;
  text-indent: -9999px;
}
.heartOpen {
  background-position: 0 0;
}
.heartFull {
  background-position: 0 -20px;
}
